body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#button {
  text-align: center;
  margin: 40px auto 0;
}

.inputText {
  padding: 10px 100px 10px 0;
}

#date {
  padding: 10px 35px 10px 0;
}

.bookContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.bookElement {
  border: 2px solid #dba718;
  border-radius: 5px;
  padding: 10px;
}